body {
    padding: 10vw;
}

h1, h2, h3, h4, h5, h6 {
    padding: 20px 0 20px 0;
}

p {
    opacity: 0.9;
}

li {
    opacity: 0.9;
    line-height: 30px;
    margin-left:30px;
    padding-left:10px;
}

.ico-link {
    border-bottom:none;
    color:white;
}

.ico-link:hover { border-bottom: none; color:rgb(94, 204, 255); }
.ico-link:active { border-bottom: none; color:rgb(94, 204, 255);}

.ico-link iconify-icon {
    display: none;
}
@media (hover:none) {
    .ico-link iconify-icon {
        display: inline-block;
    }
}

.ico-link:hover iconify-icon {
    display: inline-block;
}

.light-text {
    opacity: 0.7;
    font-size: calc(100% - 5px);
}

.highlight-text {
    opacity: 1;
    font-weight: 800;
}

.link-anchor {
    color:white;
}
.link-anchor iconify-icon {
    opacity: 0.6;
    display: none;
}
@media (hover:none) {
    .link-anchor iconify-icon {
        display: inline-block;
    }
}
.link-anchor:hover iconify-icon {
    display: inline-block;
}

.image-stack img {
    width: 500px;
    max-width: 80vw;
    padding: 10px;
    border-radius: 30px;
    justify-content: center;
}

.image-stack {
    display: flex;
    flex-wrap: wrap;
}

.smaller-stack img {
    width: 380px;
}

.codeblock {
    opacity: 1;
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    background-color: black;
}
.codeblock > span {
    opacity: 0.4;
}

.codeblock-inline {
    opacity: 1;
    padding: 2px 7px 2px 7px;
    border-radius: 2px;
    background-color: black;
}

.download-field {
    width: 480px;
    max-width: calc(70vw - 20px);
}

.download-field > div {
    color: white;

    width: 480px;
    max-width: calc(70vw - 20px);

    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0 10px 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:15px;

    
}
.download-field > div:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

/********************************************/

.input-div {
    position: relative;
    margin-bottom: 5px;
}

.input-div > h3 {
    padding: 0;
    z-index: 2;
    user-select: none;
    font-weight: 400;
    position:absolute;
    margin: 20px 0 0 10px;
    transition: 0.15s;
}

.input-div > input {
    outline: none;
    position: relative;
    z-index: 20;
    /*resize: none;*/

    margin: 25px 0 5px 0;
    border-radius: 10px;
    padding: 10px;
    border-width: 0;
    color: black;
    font-size: 20px;

    background: rgb(255,255,255);

    width: 500px;
    max-width: 70vw;
    height: 30px;
}

.input-div > textarea:focus {
    outline: none;
}

/********************************************/